@page "/"

<PageTitle>Index</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.

<SurveyPrompt Title="How is Blazor working for you?" />

<NonExistingComponentWA>
    This should make the build fail if "TreatWarningsAsErrors" is true
</NonExistingComponentWA>

<NonExistingComponentWAWithAtKeyDirective @key="@("key")">
    This should make the build fail as well if "TreatWarningsAsErrors" is true,
    <b>but it does not</b>
</NonExistingComponentWAWithAtKeyDirective>
